$template = #fff
$light = #e8e8e8
$border = #ebe6e6
  $main = #3b7cc8
.lorem {
	text-align: justify;
}
body{
  background-color: $light
}
.row{
  paddiing: 10px
}
.templatebanner{
  background: $main
  padding: 5px
}
